{% extends 'companies/dashboard.html' %}

{% block headers %}



{% endblock %}

{% block content %}
<button style="margin-right: 0;"><a href="{% url 'companies_home' %}">Back Home</a></button>


<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				{% if propic %}
				<img src="{{propic.pro_pic.url}}" alt="">
				{% else %}
				<img src="/media/pro_pics/avatar.png" alt="">
				{% endif %}
				<div class="resumes-list-content">
					<h4>{{applicant.name}} <span>{{applicant.specialization}}</span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i>{{applicant.place}}</span>
					<span class="icons"><i class="fa fa-money"></i> $100 / hour</span>
					<span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>
					<span class="icons"><a href="mailto:john.doe@example.com"><i class="fa fa-envelope"></i> {{applicant.email}}</a></span>
					

					<div class="skills">
						<span>JavaScript</span>
						<span>PHP</span>
						<span>WordPress</span>
						<span>Python</span>
					</div>
					<div class="clearfix">
					
					</div>

				</div>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">

				<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i>Send Message</a>

				<!-- <a href="{% url 'view_resume' applicant.id %}" class="button dark"><i class="fa fa-star"></i> View Resume</a> -->
				
				

				<!-- <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Send Message to Johnddd Doe</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Full Name" value=""/>
							<input type="text" placeholder="Email Address" value=""/>
							<textarea placeholder="Message"></textarea>

							<button class="send">Send Applicationddd</button>
						</form>
					</div> -->
					
				<!-- </div> -->
				<a href="{% url 'view_resume' applicant.id %}" class="button dark"><i class="fa fa-star"></i> View Resume</a>
			
			
				
              

			</div>
	
		</div>

	</div>

</div>




<!-- Content
================================================== -->
<div class="container" style="display: flex;">




	<!-- Recent Jobs -->
	<div class="eight columns">
	<div class="padding-right">

		<h3 class="margin-bottom-15">About <b>{{applicant.name}}</b></h3>

		<p class="margin-reset">
			{{applicant.description}}
		</p>

		<br>


		<ul class="list-1">
			<li>Age : {{applicant.age}}</li>
			<li>Experience : {{applicant.experience}}</li>
			<li>Education Level : {{applicant.education}}</li>
			<li>Date of Birth : {{applicant.dob}}</li>
			<li>Phone : {{ applicant.phone}}</li>
			<li>Email : {{ applicant.email}}</li>
			<li>specialization : {{ applicant.specialization}}</li>
			<li>Gender : {{ applicant.gender}}</li>
		</ul>

	</div>

	<div class="careerfy-typo-wrap">
        <h2>{{applicant.name}} Badges</h2>
        <div class="careerfy-employer-box-section">
           
            <div class="categories-list">
                
                <ul class="careerfy-row">
                    
                    <li class="careerfy-column-3">


						{% for badge in badge %}
                        

                       <div style="display: flex;">
						   {% if badge.badge == 'Gold' %}
						<img src="/media/badge/gold.jpg" width="30" height="30" alt="gold" style="width: 80px;" >
                          {% else %}
						  <img src="/media/badge/silver.jpg"  style="width: 80px;" alt="silver">
                          {% endif %}
						<h4 style="padding-top: 20px;padding-left:30px">{{badge.category.category}}</h4>
					   </div>

					   {% endfor %}
                       
  
                     
                        
                        <h6>{{badge.category.category}}</h6>
                    </li>
                 
                </ul>
            </div>
            
       
        </div>
    </div>
	

	</div>


	<!-- Widgets -->
    <div class="eleven columns">
        <div class="padding-right">
    
            <div class="listings-container">
                <h1>Latest Applied Jobs</h1>
                <br>

                {% for job in jobs %}
                
                <!-- Listing -->
                <a href="" class="listing full-time">
                    <div class="listing-logo">
                        <img src="{{job.job.user.logo.url}}" alt="">
                    </div>
                    <div class="listing-title">
                        <h4>{{job.job.job_title}} ({{job.job.user.company_name}}) <span class="listing-type">{{job.job.job_type}}</span></h4>
                        <ul class="listing-icons">
                            <li><i class="ln ln-icon-Management"></i> {{job.job.category}}</li>
                            <li><i class="ln ln-icon-Map2"></i> {{job.job.location}}</li>
                            <li><i class="ln ln-icon-Money-2"></i> {{job.job.salary_min}} - {{job.job.salary_max}}</li>
                            <li><div class="listing-date new">new</div></li>
                        </ul>
                    </div>
                </a>

                {% endfor %}
                
               
            </div>
            <div class="clearfix"></div>
    
            <!-- <div class="pagination-container">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="blank">...</li>
                        <li><a href="#">22</a></li>
                    </ul>
                </nav>
    
                <nav class="pagination-next-prev">
                    <ul>
                        <li><a href="#" class="prev">Previous</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </nav>
            </div> -->
    
        </div>
        </div>
    

</div>


<!-- Footer
================================================== -->
<div class="margin-top-45"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About</h4>
			<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			<a href="#" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>Company</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Our Blog</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Hiring Hub</a></li>
			</ul>
		</div>
		
		<div class="three columns">
			<h4>Press</h4>
			<ul class="footer-links">
				<li><a href="#">In the News</a></li>
				<li><a href="#">Press Releases</a></li>
				<li><a href="#">Awards</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Timeline</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Browse</h4>
			<ul class="footer-links">
				<li><a href="#">Freelancers by Category</a></li>
				<li><a href="#">Freelancers in USA</a></li>
				<li><a href="#">Freelancers in UK</a></li>
				<li><a href="#">Freelancers in Canada</a></li>
				<li><a href="#">Freelancers in Australia</a></li>
				<li><a href="#">Find Jobs</a></li>

			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2018 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>



{% endblock %}
