{% extends 'companies/dashboard.html' %}

{% block content %}

<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Profile</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>My Profile</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="edit-profile-photo">
                <img {% if profile.logo %} src="/media/{{profile.logo}}" {% else %} src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=300"{% endif %} alt="">
                <div class="change-photo-btn">
                    <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> Upload Logo</span>
                        <input type="file"  value="{{profile.logo}}" class="upload" name="logo" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>

  
    <div class="row">
        
        <!-- Table-->
        <div class="col-lg-12 col-md-12">
            <!-- <form action="" method="POST">{% csrf_token %} -->

            <div class="dashboard-list-box margin-top-0">
                <h4>Profile Details</h4>
                <div class="dashboard-list-box-content">

                <div class="submit-page">
                   

                    <!-- Email -->
                    <div class="form">
                        <label>Company Name</label>
                        <input value="{{profile.company_name}}" name="cname" type="text">
                    </div>
                 

                    <!-- Title -->
                    <div class="form">
                        <label>Email</label>
                        <input value="{{profile.email}}" name="cemail" type="email">
                    </div>

                    <!-- Job Type -->
                    <div class="form">
                        
                        <label>Phone</label>
                        <input value="{{profile.phone_number}}" name="cphone" type="text">
                    </div>


                    <!-- Choose Category -->
                    <div class="form">
                
                        <label><i class="fa fa-twitter"></i> Website</label>
                        <input placeholder="https://www.example.com.com/"  name="cwebsite" type="text">
                    </div>


                    <!-- Location -->
                   



                    <!-- Tags -->
     
                    <script></script>


                    <!-- Description -->
                    <div class="form" style="width: 100%;">
                        <h5>Description</h5>
                        <textarea class="WYSIWYG"  name="cdescription" cols="40" rows="3" id="summary">{{profile.descriptiion}}</textarea>
                    </div>

                    <!-- Application email/url -->
                    

                </div>
            </div>


            <div class="dashboard-list-box margin-top-30">
                <h4>Company Location</h4>
                <div class="dashboard-list-box-content">

                <div class="submit-page">

                    <!-- Company Name -->
                    <div class="form">
                        <h5>Country</h5>
                        <input type="text" value="{{profile.country}}" name="country" placeholder="country">
                    </div>

                    <!-- Website -->
                    <div class="form">
                        <h5>State<span></span></h5>
                        <input type="text" value="{{profile.state}}" name="state" placeholder="state">
                    </div>

                    <!-- Teagline -->
                    <div class="form">
                        <h5>District <span></span></h5>
                        <input type="text" value="{{profile.district}}" name="district" placeholder="district">
                    </div>

                    <!-- Video -->
                    <div class="form">
                        <h5>Post-Code <span></span></h5>
                        <input type="text" name="postcode" value="{{profile.postcode}}" placeholder="pin-code">
                    </div>

                  


                </div>

                </div>
            </div>
        

						

						

            <div class="dashboard-list-box margin-top-30">
                <h4>Company Social</h4>
                <div class="dashboard-list-box-content">

                <div class="submit-page">

                    <!-- Company Name -->
                    <div class="form">
                      
                        <label><i class="fa fa-twitter"></i> Twitter</label>
                        <input name="twitter"  value="{{website.twitter}}" placeholder="https://www.twitter.com/" type="text">
                    </div>

                    <!-- Website -->
                    <div class="form">
                        <label><i class="fa fa-facebook-square"></i> Facebook</label>
                        <input name="facebook" value="{{website.facebook}}" placeholder="https://www.facebook.com/" type="text">
                    </div>

                    <!-- Teagline -->
                    <div class="form">
                        <label><i class="fa fa-google-plus"></i> Google+</label>
                        <input name="google" value="{{website.google}}" placeholder="https://www.google.com/" type="text">
                    </div>

                    <!-- Video -->
                    <div class="form">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <input name="linkedin" value="{{website.linkedin}}" placeholder="https://www.linkedin.com/" type="text">
                    </div>

                  


                </div>

                </div>
            </div>
            <button type="submit" class="button margin-top-30">Save Changes <i class="fa fa-arrow-circle-right"></i></button>
            <!-- <a href="#" class="button margin-top-30"></a> -->
        </div>
    </form>


        <!-- Copyrights -->
        <div class="col-md-12">
            <div class="copyrights">© 2019 WorkScout. All Rights Reserved.</div>
        </div>
    </div>

</div>

        <!-- Change Password -->
        <!-- <div class="col-lg-6 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                <h4 class="gray">Change Password</h4>
                <div class="dashboard-list-box-static">

                    <div class="my-profile">
                        <label class="margin-top-0">Current Password</label>
                        <input type="password">

                        <label>New Password</label>
                        <input type="password">

                        <label>Confirm New Password</label>
                        <input type="password">

                        <button class="button margin-top-15">Change Password</button>
                    </div>

                </div>
            </div>
        </div> -->



        <!-- Copyrights -->
        <!-- <div class="col-md-12">
            <div class="copyrights">© 2019 WorkScout. All Rights Reserved.</div>
        </div> -->
    </div>

</div>
<!-- Content / End -->


</div>



{% endblock %}