



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<cen>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:rgb(242, 249, 255);margin-top:200px">
    <h4 class="" style="text-align: center;"><span id="timer" style="border: 1px solid rgb(161, 134, 134);padding:10px 20px">Time left</span>
    </h4>
   <div class="col-lg-8 border border-success p-4 m-4 mx-auto" style="border-radius: 10px; margin-top:600px">
       {% for question in questions %}
       <p id="def-id" style="display:none">{{question.id}}</p>
       <h4> {{question.question}}</h4>
       <form action="">
           <div class="radio">
               <label for="">
                   <input type="radio" id="option1" name="name" value="{{question.option1}}${{question.id}}">{{question.option1}}
               </label>
            </div>
            <div class="radio">
               <label for="">
                   <input type="radio" id="option2" name="name" value="{{question.option2}}${{question.id}}">{{question.option2}}
               </label>
               </div>
               <div class="radio">
               
               <label for="">
                   <input type="radio" id="option3" name="name" value="{{question.option3}}${{question.id}}">{{question.option3}}
               </label>
               </div>
               <div class="radio">
               <label for="">
                   <input type="radio" required id="option4" name="name" value="{{question.option4}}${{question.id}}">{{question.option4}}
               </label>
               </div>
           
       </form>

       {% endfor %}
       <div class="form-group">
           <button class="btn btn-success" id="save_ans">Submit</button>
       </div>

       <div class="paginator">
           <div class="form-group">
               {% if questions.has_next %}
               <a href="?page={{ questions.next_page_number}}"><button style="display: none;" class="btn btn-primary form-control" id="submitAnswer">Next</button></a>
                {% else %}
               <a href="{% url 'submit_answers' %}"><button  style="display: none;" class="btn btn-success form-control" id="submitAnswer">submit Test</button></a>
            {% endif %}

            </div>
       </div>

     

   </div>

   <a href="{% url 'employee_home' %}"><button style="margin-left: 700px;" class="btn btn-info">Quit Test</button></a>



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>
    window.onload=initall;
    var saveAnsButton;
    function initall(){
        console.log("automatic")
        saveAnsButton=document.getElementById('save_ans')
     
        saveAnsButton.onclick=saveans

    }

    function saveans(){
        saveAnsButton=document.getElementById('save_ans')
        submit_button=document.getElementById("submitAnswer")
        saveAnsButton.style.display='none'

        var ans=$("input:radio[name=name]:checked").val()
        if(!ans){
          var def_id=document.getElementById('def-id').innerText
            ans=null+"$"+def_id
        } 
        console.log(ans)
        alert("answer is submitted click next")
        submit_button.style.display='block'

        $.ajax({
            url : "{% url 'saveans' %}",
            type: "GET",
            data:{'ans':ans},
        })

    }
</script>
<script>




  var time = 20;
  var testDis=setInterval(function() {
    if(time > 0) {
   
      time--;
      console.log(time)
      var left=document.getElementById("timer")
      left.innerHTML="TIME LEFT "+time
    } else {
        alert("Your Time is Up")
        $("#save_ans").trigger('click');
        $("#submitAnswer").trigger('click');


      
        clearInterval(testDis)

    }

  },1000)

</script>
</body>
</html>
