{% extends 'employee/index.html' %}

<div class="careerfy-main-content">



       {% block content %}
      
        <!-- SubHeader -->
        <div class="careerfy-subheader">
            <span class="careerfy-banner-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careerfy-page-title">
                            <h1>Jobs For Good Programmers</h1>
                            <p>Yes! You make or may not find the right job for you, but that’s ok.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SubHeader -->

        <!-- Main Content -->
        
            
            <!-- Main Section -->
            <div class="careerfy-main-section careerfy-subheader-form-full">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 careerfy-typo-wrap">
                           

                            {% block search %}
                            
                            {% endblock %}
                           
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

            <!-- Main Section -->
            <div class="careerfy-main-section">
                <div class="container">
                    <div class="row">
                        
                        <aside class="careerfy-column-3 careerfy-typo-wrap">
                            <div class="careerfy-typo-wrap">
                                <form class="careerfy-search-filter">
                                    <div class="careerfy-search-filter-wrap careerfy-without-toggle">
                                        <h2><a href="#">Locations</a></h2>
                                        <!-- <div class="careerfy-search-box">
                                            <input value="Search" onblur="if(this.value == '') { this.value ='Search'; }" onfocus="if(this.value =='Search') { this.value = ''; }" type="text">
                                            <input type="submit" value="">
                                            <i class="careerfy-icon careerfy-search"></i>
                                        </div> -->
                                        <ul class="careerfy-checkbox">
                                         
                                            <li>
                                                <input type="checkbox" class="filter-checkbox" data-filter="location" value="Eranakulam" id="r1" name="rr" />
                                                <label for="r1"><span></span>Eranakulam</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="filter-checkbox" data-filter="location" value="Banglore" id="r2" name="rr" />
                                                <label for="r2"><span></span>Banglore</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="filter-checkbox" data-filter="location" value="Kochi" id="r3" name="rr" />
                                                <label for="r3"><span></span>Kochi</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" class="filter-checkbox" data-filter="location" value="Kozhikode" id="r4" name="rr" />
                                                <label for="r4"><span></span>Kozhikode</label>
                                            </li>
                                           
                                        </ul>
                                        <!-- <a href="#" class="careerfy-seemore">+see more</a> -->
                                    </div>
                                   
                                    <div class="careerfy-search-filter-wrap careerfy-search-filter-toggle">
                                        <h2><a href="#" class="careerfy-click-btn">Job Type</a></h2>
                                        <div class="careerfy-checkbox-toggle">
                                            <ul class="careerfy-checkbox">
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="jobtype" value="Freelance" id="r11" name="rr" />
                                                    <label for="r11"><span></span>Freelance</label>
                                     
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="jobtype" value="Full-Time" id="r12" name="rr" />
                                                    <label for="r12"><span></span>Full Time</label>
                                                  
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="jobtype" value="Internship" id="r13" name="rr" />
                                                    <label for="r13"><span></span>Internship</label>
                                              
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="jobtype" value="Part-Time" id="r14" name="rr" />
                                                    <label for="r14"><span></span>Part Time</label>
                                            
                                                </li>
                                                <li>
                                                    <input type="checkbox"  class="filter-checkbox" data-filter="jobtype" value="Temporary" id="r15" name="rr" />
                                                    <label for="r15"><span></span>Temporary</label>
                                          
                                                </li>
                                             
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="careerfy-search-filter-wrap careerfy-search-filter-toggle">
                                        <h2><a href="#" class="careerfy-click-btn">Categories</a></h2>
                                        <div class="careerfy-checkbox-toggle">
                                            <ul class="careerfy-checkbox">
                                               
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="UI/UX" id="r18" name="rr" />
                                                    <label for="r18"><span></span>UI/UX Designer</label>
                                    
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="Web Designer"  id="r19" name="rr" />
                                                    <label for="r19"><span></span>Web Designing</label>
                                         
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="Web Development"  id="r20" name="rr" />
                                                    <label for="r20"><span></span>Web Development</label>
                                       
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="App Development"  id="r21" name="rr" />
                                                    <label for="r21"><span></span>App Development</label>
                                      
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="Devops" value="" id="r22" name="rr" />
                                                    <label for="r22"><span></span>Devops</label>
                                            
                                                </li>
                                                <li>
                                                    <input type="checkbox" class="filter-checkbox" data-filter="category" value="Test Engineer" value="" id="r22" name="rr" />
                                                    <label for="r22"><span></span>Test Engineer</label>
                                            
                                                </li>
                                             
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </aside>
                        <div class="careerfy-column-9 careerfy-typo-wrap">
                            <div class="careerfy-typo-wrap">
                               
                                <div class="careerfy-job careerfy-joblisting-classic">
                                    <ul class="careerfy-row">
                                        <div class="filterProducts">
                                            <p class="ajaxLoader">Loading...</p>

                                       
                                        
                                        {% for jobs in job_list %}
                                        <a href="{% url 'job_details' jobs.slug %}">
                                        <li class="careerfy-column-12">
                                            <!-- <h1>{{jobs.slug}}</h1> -->
                                            
                                            <div class="careerfy-joblisting-classic-wrap">
                                                <figure><a href="#"><img src="{{jobs.user.logo.url}}" alt=""></a></figure>
                                                <div class="careerfy-joblisting-text">
                                                    <div class="careerfy-list-option">

                                                        {% if max_applicants.job == jobs.id %}
                                                      
                                                        <h2><a href="{% url 'job_details' jobs.slug %}">{{jobs.job_title}}</a> <span style="background-color: rgb(207, 100, 100);">Hotjob</span></h2>
                                                        
                                                        {% else %}
                                                        <h2><a href="{% url 'job_details' jobs.slug %}">{{jobs.job_title}}</a> <span>Featured</span></h2>
                                                         {% endif %}
                                                        <ul>
                                                            <li><a href="{% url 'job_details' jobs.slug %}">{{jobs.user.company_name}}</a></li>
                                                            <li><i class="careerfy-icon careerfy-maps-and-flags"></i> {{jobs.location}}</li>
                                                            <li><i class="careerfy-icon careerfy-filter-tool-black-shape"></i> {{jobs.category}} <b>{{jobs.industry}}</b></li>
                                                            {% for job in app_count %}

                                                            {% if job.job == jobs.id %}
                                                            
                                                            <a href="#" class="careerfy-option-btn" style="border-radius: 5px;background-color:rgb(100, 71, 99)">{{job.the_count}} Applications</a>
                                                          
    
                                                            {% endif %}
                                                           
    
                                                            {% endfor %}
                                                          
                                                        </ul>
                                                    </div>
                                                    <div class="careerfy-job-userlist">
                                                        <a href="#" class="careerfy-option-btn">{{jobs.job_type}}</a>
                                                        <!-- <a href="" class="careerfy-job-like">Apply</a> -->
                                                        <!-- {% for appl in applied %}
                                                        {% if  jobs.id == appl.job.id %}
                                                    
                                                        <a href="#" class="btn btn-info">Apply Now</a>
                                                      
                                                        {% endif %}
                                                        {% endfor %} -->


                                                       


                                                        <!-- {% for fav in favourite %}
                                                        {% if fav.job.id != jobs.id  %}
                                                        


                                                        {% endif %}

                                                        {% endfor %} -->
                                                      


                                                        

                                                    
                                                    </div>
                                                <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        
                                        </li>
                                    </a>
                                        {% endfor %}
                                        </div>

                                      
                                <!-- Pagination -->
                                <!-- <div class="careerfy-pagination-blog">
                                    <ul class="page-numbers">
                                        <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                        <li><span class="page-numbers current">01</span></li>
                                        <li><a class="page-numbers" href="#">02</a></li>
                                        <li><a class="page-numbers" href="#">03</a></li>
                                        <li><a class="page-numbers" href="#">04</a></li>
                                        <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
         
            <!-- Main Section -->

       
        <!-- Main Content -->
        
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            
           
            $(document).ready(function(){
                $(".ajaxLoader").hide();
                
                $(".filter-checkbox").on("click",function(){
                    var _filterObj={};
                    $(".filter-checkbox").each(function(index,ele){
                        var _filterVal=$(this).val();
                        var _filterKey=$(this).data('filter');
                       
                        _filterObj[_filterKey]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){
                            return el.value;
                       });

                    });
                    console.log(_filterObj)
                    $.ajax({
                        url:"{% url 'filter_data' %}",
                        data:_filterObj,
                        dataType:'json',
                        beforeSend:function(){
                            $(".ajaxLoader").show();

                        },
                       
                        success:function(res){
                            console.log(res)
                            $(".filterProducts").html(res.data)
                            $(".ajaxLoader").hide();
                        }
                    })
                });
            });
        </script>
    </div>
     
     
    
        
    

        {% endblock %}

   

       