{% extends 'employee/employee_profile.html' %}

{% block propic %}


{% endblock %}




{% block basic %}


<div class="careerfy-column-9">
    <div class="careerfy-typo-wrap">
        <div class="careerfy-employer-box-section">
            <div class="careerfy-profile-title">
                <h2>Machine Test</h2>
            </div>
            
            <div class="careerfy-cv-manager-list">
                <ul class="careerfy-row">
                    <li class="careerfy-column-12">
                        <div class="careerfy-cv-manager-wrap">
                            {% for machine in machine %}
                        
                            <div class="careerfy-cv-manager-text">
                                <div class="careerfy-cv-manager-left">
                                    <h2><a href="#"></a></h2>
                                    <ul>
                                     <li><a href="{% url 'companies_details' machine.job.user.id %}"> </i> <b>{{machine.job.user.company_name}}</b></a></li>  
                                       <li style="fondt-size: 15px;"> <a href="{% url 'job_details' machine.job.slug %}">{{machine.job.job_title}}</a></li>
                                        <!-- <li style="fodnt-size: 10px;"><i class="careerfy-icon careerfy-files"></i> {{machine.machinetest}}</li> -->
                                       <li style="fondt-size: 15px;"> <a href="{% url 'job_details' machine.job.slug %}">{{machine.created_at}}</a></li>
                                          
                                    </ul>
                                </div>
                   
                               <div style="display: flex;align-items: flex-end">
                                <a  onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='{% url 'delete_machinetest' machine.id %}' : ''  " class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-rubbish"></i></a>
                                <a href="{% url 'download_machinetest' machine.id%}" class="careerfy-cv-manager-link"><b style="font-size: 18px;"><i class="careerfy-icon careerfy-download-arrow"></i></b></a>
                                <a href="{% url 'reply_machine_test' machine.id %}" class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-arrow"><b>SubmitTest</b> </i></a></button>
                                <!-- <a  class="delete" onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='' : ''  " ><i class="fa fa-remove"></i>Delete</a> -->
                            </div>
                        </div>
                            <br>
                           

                            {% endfor %}
                        </div>
                    </li>
                   
                </ul>
            </div>
            <!-- Pagination -->
        </div>
    </div>
</div>



{% endblock %}

