{% extends 'employee/employee_profile.html' %}

{% block propic %}


{% endblock %}

{% block basic %}

<style>
    * {
        box-sizing: border-box;
      }
      
      body {
      
        font-size: 14px;
        background: #eee;

      }
      
      .file-input {
        display: inline-block;
        text-align: left;
        background: #fff;
        padding: 16px;
        width: 450px;
        position: relative;
        border-radius: 3px;
      }
      
      .file-input > [type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
      }
      
      .file-input > .button {
        display: inline-block;
        cursor: pointer;
        background: #eee;
        padding: 8px 16px;
        border-radius: 2px;
        margin-right: 8px;
      }
      
      .file-input:hover > .button {
        background: dodgerblue;
        color: white;
      }
      
      .file-input > .label {
        color: #333;
        white-space: nowrap;
        opacity: .3;
      }
      
      .file-input.-chosen > .label {
        opacity: 1;
      }
</style>






  <script>
    function fileValidation() {
        var fileInput = 
            document.getElementById('file');
          
        var filePath = fileInput.value;
      
        // Allowing file type
        var allowedExtensions = 
/(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;
          
        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        } else{
            document.getElementById("careerfy-uploadfile").value=filePath
        }
    }
</script>


  

  <br>
  <br>



 





<div>
    <h4 style="text-align: center;">Upload CV</h4>

  <div class="careerfy-column-9">
    <div class="careerfy-typo-wrap">
        <div class="careerfy-upload-cv">
            <form action="{% url 'make_cv' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            
            <input class="careerfy-disabled-input" id="careerfy-uploadfile" placeholder="" disabled="disabled"  />
                <div class="careerfy-cvupload-file">
                <span><i class="careerfy-icon careerfy-arrows-2"></i> Upload CV</span>
                <input  type="file" id='file' required  name="mycv" onchange="return fileValidation()" class="careerfy-upload-btn" />
            </div>
            <p>Suitable files are .doc,docx,rft,pdf & .pdf</p>
            <br>
            <br>    
            <br>
            <button style="margin-left:15px;padding:7px 15px"  type="submit" class="btn btn-info p-5">Upload CV</button>

            </form>
        </div>

        <h4 style="text-align: center;"> or Create CV</h4>
       
            <div class="careerfy-employer-box-section">
                <div class="careerfy-profile-title"><h2>My Resume</h2></div>
                <div class="careerfy-candidate-section">
                  
                    <form action="{% url 'make_coverletter' %}" method='POST' >{% csrf_token %}
                    
                        {{form.media}}
                        {{form.as_p}}
                        <br>
                        <input type="submit" class="btn btn-info" style="border-radius: 20px;margin-right:60px;padding:7px 30px">

                    </form>
                    <br>
                    <br>
                    <br>
              
                    <!-- <div class="careerfy-candidate-title"> <h2><i class="careerfy-icon careerfy-resume-1"></i> Cover Letter</h2> </div>
                    <div class="careerfy-candidate-dashboard-editor"><img src="extra-images/candidate-dashboard-editor.jpg" alt=""></div>
                     -->
                    <div class="careerfy-candidate-resume-wrap">    
                        <div class="careerfy-candidate-title"> <h2>
                            <i class="careerfy-icon careerfy-mortarboard"></i> Education 
                            <a href="javascript:void(0)" class="careerfy-resume-addbtn"><span class="fa fa-plus"></span> Add education</a>
                        </h2> </div>

                    <form action="{% url 'add_education' %}" method="POST">{% csrf_token %}

                        <div class="careerfy-add-popup">
                            <ul class="careerfy-row careerfy-employer-profile-form">
                                <li class="careerfy-column-12">
                                    <label>Title *</label>
                                    <input placeholder="Title" name="title"  type="text" id="title" onkeyup="checkTitle()"
                                    onblur="checkTitle()">
                                    <p id="title-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                           
                                    <li class="careerfy-column-6">
                                        <label>Start Year *</label>
                                        <input placeholder="Start Year" name="startyear"  type="text" id="startdate"
                                        oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkStart()" onblur="checkstart()">
                                        <p id="start-alert" style="color:red;"></p>
                                        <div class="validate"></div>
                                    </li>
                                
                                    <li class="careerfy-column-6">
                                        <label>End Year *</label>
                                        <input placeholder="End Year" name="endyear"  type="text" id="enddate"
                                        oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkEnd()" onblur="checkEnd()">
                                        <p id="end-alert" style="color:red;"></p>
                                        <div class="validate"></div>
                                    </li>
                                <li class="careerfy-column-12">
                                    <label>Institute *</label>
                                    <input placeholder="College or University" name="institute" type="text" id="institute" onkeyup="checkCollege()"
                                    onblur="checkcollege()">
                                    <p id="institute-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                            
                                <li class="careerfy-column-12">
                                    <input type="submit" value="Add education">
                                </li>
                            </ul>
                        </div>

                    </form>
                        <div class="careerfy-resume-education">
                            <ul class="careerfy-row">
                                {% for edu in education %}
                                <li class="careerfy-column-12">
                                    <div class="careerfy-resume-education-wrap">
                                        <small>{{edu.startyear}} - {{edu.endyear}}</small>
                                        <h2><a href="#">{{edu.title}}</a></h2>
                                        <span>{{edu.institute}}</span>
                                    </div>
                                    <div class="careerfy-resume-education-btn">
                                        <a href="#" class="careerfy-icon careerfy-edit"></a>
                                       
                                        <a  onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='{% url 'delete_education' edu.id %}' : ''  " class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-rubbish"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                              
                            </ul>
                        </div>
                    </div>
                    <div class="careerfy-candidate-resume-wrap">    
                        <div class="careerfy-candidate-title"> <h2>
                            <i class="careerfy-icon careerfy-social-media"></i> Experience 
                            <a href="javascript:void(0)" class="careerfy-resume-addbtn"><span class="fa fa-plus"></span> Add experince</a>
                        </h2> </div>

                        <form action="{% url 'add_experience' %}" method="POST">
                            {% csrf_token %}

                        <div class="careerfy-add-popup">
                            <ul class="careerfy-row careerfy-employer-profile-form">
                                <li class="careerfy-column-12">
                                    <label>Title *</label>
                                    <input placeholder="Title" name="title" type="text" id="title1" onkeyup="checkTitle1()"
                                    onblur="checkTitle1()">
                                    <p id="title1-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                                
                                <li class="careerfy-column-6">
                                    <label>Year of Experience *</label>
                                    <input placeholder=" Year" name="years"  type="text" id="year"
                                    oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkYear()" onblur="checkYear()">
                                    <p id="year-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                           
                             
                                <li class="careerfy-column-12">
                                    <label>Company *</label>
                                    <input placeholder="Company" name="company"  type="text" id="company" onkeyup="checkCompany()"
                                    onblur="checkCompany()">
                                    <p id="company-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                           
                                <li class="careerfy-column-12">
                                    <input type="submit" value="Add experince">
                                </li>
                            </ul>
                        </div>
                    </form>
                        <div class="careerfy-resume-education">
                            <ul class="careerfy-row">
                                {% for exp in experience %}
                                <li class="careerfy-column-12">
                                    <div class="careerfy-resume-education-wrap">
                                        <small>{{exp.years}} years</small>
                                        <h2><a href="#">{{exp.title}}</a></h2>
                                        <span>{{exp.company}}</span>
                                    </div>
                                    <div class="careerfy-resume-education-btn">
                                        <a href="#" class="careerfy-icon careerfy-edit"></a>
                                        
                                        <a  onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='{% url 'delete_experience' exp.id %}' : ''  " class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-rubbish"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                              
                            </ul>
                        </div>
                    </div>
                  
                    <div class="careerfy-candidate-resume-wrap">    
                        <div class="careerfy-candidate-title"> <h2>
                            <i class="careerfy-icon careerfy-design-skills"></i> Skills 
                            <a href="javascript:void(0)" class="careerfy-resume-addbtn"><span class="fa fa-plus"></span> Add Skills</a>
                        </h2> </div>
                        <form action="{% url 'add_skills' %}" id="skill-form" method="POST">
                            {% csrf_token %}

                        <div class="careerfy-add-popup">
                            <ul class="careerfy-row careerfy-employer-profile-form">
                                <li class="careerfy-column-12">
                                    <label>Skill Heading *</label>
                                    <input placeholder="Skill" name="skill"  type="text" id="skill" onkeyup="checkSkill()"
                                    onblur="checkSkill()">
                                    <p id="skill-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                                <li class="careerfy-column-12">
                                    <label>Percentage *</label>
                                    <input placeholder="Percentage" name="percentage"  type="text" id="percentage"
                                    oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkPerc()" onblur="checkPerc()">
                                    <p id="percentage-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                                <li class="careerfy-column-12">
                                    <input type="submit" value="Add Skills">
                                </li>
                                <p  style="color:red"id="err"></p>
                            </ul>
                        </div>
                    </form>

                    <script>
                        const skill=document.getElementById("skill")
                        const perc=document.getElementById("percentage")
                        const form=document.getElementById("skill-form")
                        const error=document.getElementById("err")

                        form.addEventListener('submit',(e)=>{
                            if (skill.value === '' || perc.value === ''){
                                
                            e.preventDefault()
                            error.innerHTML="please fill the form"

                            }
                        })
                       

                    </script>
                        <div class="careerfy-add-skills">
                            <ul class="careerfy-row">
                                {% for skill in skills %}
                                <li class="careerfy-column-12">
                                    <div class="careerfy-add-skills-wrap">
                                        <span>{{skill.percentage}}</span>
                                        <h2><a href="#">{{skill.skill}}</a></h2>
                                    </div>
                                    <div class="careerfy-resume-education-btn">
                                        <a href="#" class="careerfy-icon careerfy-edit"></a>
                                        
                                        <a  onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='{% url 'delete_skills' skill.id %}' : ''  " class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-rubbish"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                               
                            </ul>
                        </div>
                    </div>
                    <div class="careerfy-candidate-resume-wrap">    
                        <div class="careerfy-candidate-title"> <h2>
                            <i class="careerfy-icon careerfy-trophy"></i> Honors & Awards 
                            <a href="#" class="careerfy-resume-addbtn"><span class="fa fa-plus"></span> Add Award</a>
                        </h2> </div>

                    <form action="{% url 'add_awards' %}" method="POST">
                            {% csrf_token%}
                      

                        <div class="careerfy-add-popup">
                            <ul class="careerfy-row careerfy-employer-profile-form">
                                <li class="careerfy-column-12">
                                    <label>Award Title *</label>
                                    <input placeholder="Distinguished Service Award" name="award"  type="text" id="award" onkeyup="checkAward()"
                                    onblur="checkAward()">
                                    <p id="award-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                                <li class="careerfy-column-6">
                                    <label>Year  *</label>
                                    <input placeholder=" Year" name="years"  type="text" id="year1"
                                    oninput="this.value = this.value.replace(/\D/g,'');" onkeyup="checkYear1()" onblur="checkYear1()">
                                    <p id="year1-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                               
                                <li class="careerfy-column-6">
                                    <label>Company *</label>
                                    <input placeholder="company or institute "  name="company" type="text" id="company1" onkeyup="checkCompany1()"
                                    onblur="checkCompany1()">
                                    <p id="company1-alert" style="color:red;"></p>
                                    <div class="validate"></div>
                                </li>
                                
                                <li class="careerfy-column-12">
                                    <input type="submit" value="Add Award">
                                </li>
                            </ul>
                        </div>
                    </form>
                        <div class="careerfy-resume-education careerfy-resume-awards">
                            <ul class="careerfy-row">
                                {% for award in awards %}
                                <li class="careerfy-column-12">
                                    <div class="careerfy-resume-education-wrap">
                                        <small>{{award.years}} - {{award.company}}</small>
                                        <h2><a href="#">{{award.award}}</a></h2>
                                    </div>
                                    <div class="careerfy-resume-education-btn">
                                        <a href="#" class="careerfy-icon careerfy-edit"></a>
                                        <a href="{% url 'delete_awards' award.id %}" class="careerfy-icon careerfy-rubbish"></a>
                                        <a  onclick="return confirm ('are you sure Do you want to delete') ? window.location.href='{% url 'delete_awards' award.id %}' : ''  " class="careerfy-cv-manager-link"><i class="careerfy-icon careerfy-rubbish"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <a href="{% url 'load_cv' %}" class="careerfy-employer-profile-submit">Make PDF</a>
            <!-- <input type="submit" class="careerfy-employer-profile-submit" value="Update Resume"> -->
       
    </div>
</div>

</div>



<script>
    const validated={
        title:false,
        start:false,
        end:false,
        college:false,
        title1:false,
        year:false,
        company:false,
        skill:false,
        percentage:false,
        award:false,
        year1:false,
        company2:false
    }

    function checkTitle() {
        var title = document.getElementById("title").value;
        if (title.length <= 0) {
            document.getElementById("title-alert").innerHTML = "Enter Your Title"
            validated.title = false;
        }
    
        else {
            document.getElementById("title-alert").innerHTML = "";
            validated.title = true;
        }
    }

    
    function checkstart() {
        var start = document.getElementById('startdate').value;
        var expalert = document.getElementById('start-alert');
        if (start == "" || start == null) {
            validated.start = false;
            expalert.innerHTML = "Required";
        }
        if (start > 1){
            validated.start = true;
            expalert.innerHTML = "";

        }
        if (start > 4){
            validated.start=false
            expalert.innerHTML = "Enter Valid Year";

        }

    }

    
    function checkEnd() {
        var end = document.getElementById('enddate').value;
        var expalert = document.getElementById('end-alert');
        if (end == "" || end == null) {
            validated.end = false;
            expalert.innerHTML = "Required";
        }
        if (end > 1){
            validated.end = true;
            expalert.innerHTML = "";

        }

        if (end > 4){
            validated.end=false
            expalert.innerHTML = "Enter Valid Year";

        }


    }

    function checkCollege() {
        var company = document.getElementById("institute").value;
        if (company.length <= 0) {
            document.getElementById("institute-alert").innerHTML = "Enter Your company"
            validated.company = false;
        }
    
        else {
            document.getElementById("institute-alert").innerHTML = "";
            validated.company = true;
        }
    }


    function checkTitle1() {
        var title = document.getElementById("title1").value;
        if (title.length <= 0) {
            document.getElementById("title1-alert").innerHTML = "Enter Your Title"
            validated.title1 = false;
        }
    
        else {
            document.getElementById("title1-alert").innerHTML = "";
            validated.title1 = true;
        }
    }



    function checkYear() {
        var year = document.getElementById('year').value;
        var expalert = document.getElementById('year-alert');
        if (year == "" || year == null) {
            validated.year = false;
            expalert.innerHTML = "Required";
        }
        if (year > 1){
            validated.year = true;
            expalert.innerHTML = "";

        }
      

    }  


    function checkCompany() {
        var company = document.getElementById("company").value;
        if (company.length <= 0) {
            document.getElementById("company-alert").innerHTML = "Enter Your company"
            validated.company = false;
        }
    
        else {
            document.getElementById("company-alert").innerHTML = "";
            validated.company = true;
        }
    }


    function checkSkill() {
        var skill = document.getElementById("skill").value;
        if (skill.length <= 0) {
            document.getElementById("skill-alert").innerHTML = "Enter Your skill"
            validated.skill = false;
        }
    
        else {
            document.getElementById("skill-alert").innerHTML = "";
            validated.skill = true;
        }
    }


    function checkPerc() {
        var percentage = document.getElementById('percentage').value;
        var expalert = document.getElementById('percentage-alert');
        if (percentage == "" || percentage == null) {
            validated.percentage = false;
            expalert.innerHTML = "Required";
        }
        if (percentage > 1){
            validated.percentage = true;
            expalert.innerHTML = "";

        }
      

    }  


    

    function checkAward() {
        var award = document.getElementById("award").value;
        if (award.length <= 0) {
            document.getElementById("award-alert").innerHTML = "Enter Your award"
            validated.award = false;
        }
    
        else {
            document.getElementById("award-alert").innerHTML = "";
            validated.award = true;
        }
    }


    
    function checkYear1() {
        var year1 = document.getElementById('year1').value;
        var expalert = document.getElementById('year1-alert');
        if (year1 == "" || year1 == null) {
            validated.year1 = false;
            expalert.innerHTML = "Required";
        }
        if (year1 > 1){
            validated.year1 = true;
            expalert.innerHTML = "";

        }
      

    }  


    function checkCompany1() {
        var company1 = document.getElementById("company1").value;
        if (company1.length <= 0) {
            document.getElementById("company1-alert").innerHTML = "Enter Your company"
            validated.company1 = false;
        }
    
        else {
            document.getElementById("company1-alert").innerHTML = "";
            validated.company1 = true;
        }
    }



   

       


</script>



  
  <script>
    // Also see: https://www.quirksmode.org/dom/inputfile.html

var inputs = document.querySelectorAll('.file-input')

for (var i = 0, len = inputs.length; i < len; i++) {
customInput(inputs[i])
}

function customInput (el) {
const fileInput = el.querySelector('[type="file"]')
const label = el.querySelector('[data-js-label]')

fileInput.onchange =
fileInput.onmouseout = function () {
if (!fileInput.value) return

var value = fileInput.value.replace(/^.*[\\\/]/, '')
el.className += ' -chosen'
label.innerText = value
}
}
</script>


{% endblock %}