{% extends 'superadmin/index.html' %}


{% block content %}

<div id="titlebar">
    <div class="row">
        <div class="col-md-12">
            <h2>Add Job</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li>Add Job</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    
    <!-- Table-->
    <div class="col-lg-12 col-md-12" style="margin-left: 270px;">

        <div class="dashboard-list-box margin-top-0">
            <h1 style="text-align: center;">choose Answer</h1>
            <div class="dashboard-list-box-content" >
                <form action="" method="POST" >
                    {% csrf_token %}

            <div class="submit-page">

              

               
                <div class="form">
                    <div class="form">
                        <h5>{{question.question}}</h5>
                        <select data-placeholder="Full-Time" name="job_type" required  class="chosen-select-no-single">
                            <option value="{{question.option1}}">{{question.option1}}</option>
                            <option value="{{question.option1}}">{{question.option2}}</option>
                            <option value="{{question.option1}}">{{question.option3}}</option>
                            <option value="{{question.option1}}">{{question.option4}}</option>
                   
                        </select>
                    </div>
                    <button type="submit" class="button margin-top-30">Add Category <i class="fa fa-arrow-circle-right"></i></button>
                </div>

            </div>

                </form>

                <h1 style="text-align: center;">View Category</h1>

                

                {% for cate in category %}
               <a href="{% url 'add_questions' cate.id %}"> <input class="search-field "   data-msg-required="Required field" type="text" placeholder="" value="{{cate.category}}"/></a>

                {% endfor %}




    </div>


    <!-- Copyrights -->
    <div class="col-md-12">
        <div class="copyrights">© 2019 WorkScout. All Rights Reserved.</div>
    </div>
</div>

</div>




{% endblock %}